header{
    text-align: center;
    background-color: lightslategray;
    padding: 2px;
}
.container{
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.input{
    display: flex;
    justify-content: center;
    margin: 100px;
}